body{
font-family: Arial;
background: #f4f4f4;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.container{
background: white;
padding: 30px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
width: 350px;
}

h2{
text-align:center;
}

.input-group{
margin-bottom:20px;
}

input[type="range"]{
width:100%;
}

.result{
text-align:center;
font-size:20px;
font-weight:bold;
}